on:
  push:
    branches: [main]

jobs:
  Deploy: 
    name: Deploy
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.1"
      
      - name: Build app
        run: ./scripts/buildprod.sh